# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Database Migrations
migrations

# Personally created txt file
# implementation-history.txt

# IMPLEMENTATION HISTORY

# 2FA Check is temporarily commented out in the login function because it is not implemented

# Implemented the register service.

# For the login service, email verification check has been Implemented and user 
# can login, but 2fa check is not Implemented. (You may have to start from there)
# It is currently commented out the login method, but the main verifyTwoFactor
# helper method is below the login function. You may have to check and actually
# implement that functionality.

# After that, just go through the controller and keep implementing them one by one.
# The next one should be POST /auth/change-password */




# FEATURES THAT WILL NEED BACKGROUND JOB:

# Welcome email after registration → EventEmitter is fine

# AI generation from an uploaded image → BullMQ (long, expensive, retriable)

# Batch CSV uploads → BullMQ

# Scheduled cleanup (expired OTPs) → your @nestjs/schedule cron, or BullMQ repeatable jobs if you go multi-instance
